body {
    background-color: #f0f8ff;
    color: #333;
    font-family: Arial, sans-serif;
    text-align: center;
    padding-top: 100px;
}

.message {
    background-color: #e6ffe6;
    border: 2px solid #a3d9a5;
    display: inline-block;
    padding: 30px 50px;
    border-radius: 10px;
    box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.1);
    font-size: 24px;
}
